<div class="content">
<h1>Frequently Asked Questions</h1>

<p><span class="question">Q: How often do you meet with your clients?</span>
<br/>A: During the introduction phase and planning phase we develop a customized meeting schedule to suit your needs. Typically, we meet with our clients anywhere from 1 to 4 times per year depending on preference.
</p>

<p><span class="question">Q: Who are your clients?</span>
<br/>
A: We primarily serve professionals who are in what we call “the retirement red zone”. This includes professionals who are in their 50s, 60s, or have already retired. 
</p>

<p>
<span class="question">Q: Why should I work with Vero Financial Group?</span>
<br/>
A: Handling your own investments is a risky business. When you work with a Certified Financial Advisor at Vero Financial, it is our job to have your best interests in mind. We have access to some of the best investment strategies in the world right now and can utilize them to help you reach your financial goals.  
</p>

<p>
<span class="question">Q: Do you invest in the same investment strategies as you recommend to your clients?</span>
<br/>
A: Yes, we do. 
</p>

<p>
<span class="question">Q: What are your fees?</span>
<br/>
A: Our fees generally start at a 1% yearly fee (1% of your total assets managed), but can be lowered depending on the size of the account.
</p> 
</div>