<div id="slide_show">
	<div class="one"><img src="assets/cover.jpg"/></div>
	<div class="two"><img src="assets/sticks.jpg"/></div>
	<div class="three"><img src="assets/mountain.jpg"/></div>
	<div class="four"><img src="assets/set_sail.jpg"/></div>

</div>

<div class="content">
	<img id="landing_image" src="assets/landing_image.png">
<h1>Your goals are our priority.</h1>
<p class="index">Vero Financial Group is a boutique financial services firm in Richmond, Virginia, dedicated to the specific financial goals and needs of pre-retirement aged professionals. With over 75 years of investment experience, Vero has the industry knowledge and understanding to guide clients through the everchanging financial climate of the next several decades.</p>

<p class="index">Our founder and owner, Penn Pendleton, has been working in the financial industry for over 41 years. His background includes experience in banking, investments and insurance. For years he has worked with Fortune 1000 companies and banks designing and implementing non-qualifiedretirement plans. He also served as a Principal of Clark/Bardes, Inc. for 18 years.</p>

<p class="index">At Vero Financial Group, our mission is to help you pursue your financial goals for retirement. We’re confident we have the tools and know-how to help you work towards your individual goals. Let us take it from here.</p> 
</div>
