<div class="content">

<p>The advisors at Vero Financial Group offer fee-only wealth management services and specialize in helping clients develop a plan to navigate their pre-retirement and retirement years. For years we have helped individuals develop a financial game plan designed to meet their goals and needs. Our firm has built long term relationships across the U.S. grounded on sound principles and outstanding client experiences.</p>

<p>We offer retirement planning and investment management. We work with smart and successful individuals who value a prudent strategy that does not rely on Wall Street’s latest hot idea. While we are not able to predict what the market will do in the future, we believe that risk and potential rewards are related and we strive to help you look for growth and income opportunities while managing the risks you take. Properly managed risk during the last part of the wealth accumulation phase and during the distribution phase is paramount to working towards your financial goals through retirement. You have worked very hard to save for retirement; we want to help you manage your assets with care. We want you to be able to enjoy your retirement years. </p>


<h1>Our Philosophy</h1>
<h3>Your retirement is too important to risk on this week’s “hot pick.” At Vero Financial Group, we trust Nobel Prize winning research<span class="super">1</span>, not Wall Street hype.</h3>
<ul class="services">
<li>Our first responsibility is to understand you, your goals, and your priorities. This insight both provides us with vital information on which to build your financial plan and serves as the foundation for our ongoing relationship.</li>
<li>Historical data confirms that diversification of wealth through structured investing leads to higher rates of return and lower volatility.<span class="super">2</span> We encourage our financial advisory clients to embrace this time-tested, disciplined approach.</li>
<li>At Vero Financial Group, we utilize Monte Carlo technology to evaluate the critical distribution phase of your retirement. This scientific process takes some of the guesswork out of investing.</li>
<li>Like many endowments, we believe that the use of non-correlated assets can help to reduce the volatility of invested assets. When appropriate, we employ several carefully-chosen alternative investments in an effort to take advantage of unique opportunities in various economic climates.</li>
</ul>

<h1>Who We Serve</h1>
<h3>Clients are at the center of everything we do.</h3>

<p>We specialize in serving individuals who are closing in on retirement, the “retirement red 

zone,” as we refer to it. We understand you can’t afford another 2001-2003 or 2008 market. 

Our customized investment strategies are designed to help you best prepare for future turbulent

markets.
</p>
<p>We bring the utmost professionalism and consideration to each of our clients’ investment needs 

and unique financial situations. We take into account many factors to ensure each client is

on the right track towards meeting their future financial needs and goals. We believe that by 

understanding a client’s risk tolerance and retirement time frame, we can design an investment

portfolio specific to your needs.</p>

<p>We are absolutely committed to helping our clients navigate their pre-retirement and retirement 

years. We value the relationships with our clients above all else. Our desire to help you 

supersedes any desire to simply “profit” off of managed assets. </p>

<div id="foot_notes">
<p>1. "Harry M. Markowitz - Prize Lecture: Foundations of Portfolio Theory". Nobelprize.org. 10 Oct 2012 http://www.nobelprize.org/nobel_prizes/economics/laureates/1990/markowitz-lecture.html</p>
<p>2. Markowitz, H.M. (March 1952). "Portfolio Selection". The Journal of Finance7 (1): 77–91.</p>
<p>Diversification does not guarantee a profit or protection from losses in a declining market. Investing in non-correlated assets involves significant risk and is intended for experienced and sophisticated investors. Monte Carlo analysis is a risk and decision analysis tool that assumes some of the inputs vary over </p>
</div>

</div>
