<div class="content">
	<img id="penn" src="assets/penn.png"/>
<h1>G.F. “Penn” Pendleton, III</h1>
<h4>Principal Advisor </h4>
<p class="index">Penn, founder and Principal of Vero Financial Group, has over 41 years of experience in

banking, investments, and insurance. Currently he holds memberships in the Richmond and 

national chapters of the Association of Life Underwriters. He is a Registered Representative with 

Securities America, Inc., and an Investment Advisor Representative with Securities America 

Advisors, Inc. He serves on many boards including Andesa Services, Inc., the national board of 

the Navigators and CHAT (Church Hill Activities and Tutoring).</p>

<h1>John McKenna</h1>
<h4>Director of Operations and Client Services</h4>
<p>John joined Vero Financial Group in 2009 as an account manager for both the executive benefits

and asset management divisions. Through a series of promotions, John has also taken on the 

role of managing the firm’s operations and client services for all divisions. John graduated from 

Virginia Tech in 2003 with a degree in economics. In his spare time, he enjoys golf, spending 

time outdoors, and traveling to Blacksburg as much as possible to support the Hokies.</p>

<h1>Hugh Carter</h1>
<h4>Business Development</h4>
<p>Hugh has been in the financial services industry for more than 35 years with extensive experience in 

finance, investments, insurance and risk management.  Hugh is a graduate of the University of Virginia and is active in 

numerous business and civic endeavors.</p>

<h1>Kelin Kruithoff</h1>
<h4>Client Relations Intern</h4>
<p>Kelin Kruithoff joined Vero Financial Group in 2013 as a client relations intern. Kelin focuses

on marketing, managing client relationships, and developing strategies to grow the firm. A senior 

and International Relations major at the University of Richmond, Kelin brings his international, 

interpersonal, and communication experience to prospective and current clients. In his spare 

time, Kelin enjoys the outdoors, traveling, and spending time with his friends and family. </p>



</div>