#header {
	height:140px;
	position:relative;
	overflow:hidden;
}

#logo {
	margin-left: -20px;
	position:relative;
}

nav {
	position:absolute;
	bottom:0px;
	width:100%;
}

#header ul {
	list-style-type: none;
	margin:0px;
	padding:0px;
	font-family:Times New Roman;


}

#header ul li {
	float:left;
	width:150px;
	text-align:center;
	border-top:1px solid #114f07;
	border-bottom:1px solid #114f07;
}

#header ul li a {
	color:#114f07;
	display:block;
	text-decoration:none;
	font-size:14px;
	padding:10px;
	text-transform:uppercase;
}

#header ul li a:hover {
	background-color:#114f07;
	color:white;
}

#slogan {
	position:absolute;
	top:50px;
	right:0px;
	font-style:italic;
	font-family:Times New roman;

}