<div id="footer">

<p>Disclaimers:</p>
<p>The content is developed from sources believed to be providing accurate information. The information in this material is not

intended as tax or legal advice. It may not be used for the purpose of avoiding any federal tax penalties. Please consult legal or 

tax professionals for specific information regarding your individual situation. The opinions expressed and material provided are 

for general information, and should not be considered a solicitation for the purchase or sale of any security.</p>

<p>Securities offered through Securities America, Inc., Member FINRA/SIPC and advisory services offered through Securities 

America Advisors, Inc. Vero Financial Group and Securities America are unaffiliated. Securities licensed in: CA, CO, CT, FL, 

GA, IL, MD, MI, MN, NC, NJ, NY, OH, PA, SC, TX, VA, WV. CA Insurance License #0C38982.</p>

</div>